#
# Simple dockerignore file for nodejs
#
# |-- .dockerignore
# |-- Makefile
# |-- app
#     |-- main.py
# |-- model

# root
.git
.gitignore
.DS_Store
.dockerignore
*.swp
.*.swp
__pycache__
LICENSE
VERSION
README.md
Changelog.md
Makefile
docker-compose.yml
docs
Dockerfile*
Makefile
package-lock.json
node_modules
model-*
dataset

# matches any number of directories (including zero)
**/.git
**/.gitignore
**/.DS_Store
**/.dockerignore
**/*.swp
**/.*.swp
**/__pycache__
**/LICENSE
**/VERSION
**/README.md
**/Changelog.md
**/Makefile
**/docker-compose.yml
**/docs
**/Dockerfile
**/Makefile
**/package-lock.json
**/node_modules
**/model-*
**/dataset
